html {
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.person-card {
  text-align: center;
  border-style: double;
  margin: auto;
  padding: 30px;
}
.order-card {
  text-align: left;
  border-style: groove;
  padding-left: 5px;
  padding-right: 5px;
}